@import url(https://fonts.googleapis.com/css2?family=Chakra+Petch:ital@1&family=Lilita+One&family=Mynerve&family=Pangolin&family=Tektur&display=swap);

* {
  font-family: 'Tektur', cursive;
  /* height: 100%; */
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
}

.date{
  color: white;
  height: 100px;
  width: 300px;
}

.date span{
  color: #ffffff;
}

#hm-main{
  background-color: rgb(0, 0, 0);
  width: 100vw;
  height: 100vh;
}

.gif-vid{
  height: 87vh;
  width: 80%;
  z-index: -99;
}

.bottom-nav{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.btn{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 10%;
  height: 88vh;
  /* line-height: 30px;
  height: 10px;
  border-radius: 10px;
  background: #223;
  display: grid;
  place-items: left;
  overflow: auto;
 
  --border-size: 3px;
  --border-angle: 0turn;
  width: 700px;
  height: 50vmin;
  background-image: conic-gradient(
      from var(--border-angle),
      #213,
      #112 50%,
      #213
    ),
    conic-gradient(from var(--border-angle), transparent 20%, rgb(0, 94, 255), rgb(0, 255, 208));
  background-size: calc(100% - (var(--border-size) * 2))
      calc(100% - (var(--border-size) * 2)),
    cover;
  background-position: center center;
  background-repeat: no-repeat;
  animation: bg-spin 5s linear infinite;

  color: white;  */
}

@keyframes borderAnimation {
  0% {
    border-color: #0ff; /* Use hex color for consistency */
  }
  50% {
    border-color: blue;
  }
  100% {
    border-color: #05f8ec; /* Use hex color for consistency */
  }
}


@keyframes bg-spin {
  to {
    --border-angle: 1turn;
  }
}

.btn-in{
  background-color: rgb(0, 0, 0);
  height: 45vh;
  width: 25%;
  border-radius:100%;
  border: 2px solid blue;
}

.btn-logo{
  position: relative;
  height: 35vh;
  width: 20%;
  left: -22%;
  cursor: pointer;
}

.res{
  /* background-color: #05f8ec; */
  min-height: 200px;
  width: 50%;
  position: relative;
  left: 25%;
  bottom: 100px;
  margin-bottom: -100px;
  color: white;
   text-align: center;
   /* color: #ffffff; */
}

.res p{
  color: #ffffff;
  /* text-align: center; */
  font-weight: 500;
  font-size: 1.5rem;
  /* position: absolute;
  margin-bottom: -20px; */
  /* margin-top: -40px;
  bottom: 10px; */
}
 
.ver-null {
  color: #ffffff;
  text-align: center;
  font-weight: 500;
  font-size: 1.5rem;
  position: relative;
  margin-top: -30px;
  bottom: 50px;
}

.video-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.video{
  height: 500px;
  width: 500px;
}